*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* .main {
    width: 100%;
    height: 100vh;
    font-size: 9vw;
    text-align: center;
    color: #fff;
    padding-top: 15 0px;
    /* background-image: linear-gradient(to right, red,yellow); */
    /* background-image: linear-gradient(to left, red,yellow); */
    /* background-image: linear-gradient(to bottom, red,yellow); */
    /* background-image: linear-gradient(to top, red,yellow); */
    /* background-image: linear-gradient(to top right, red,yellow); */
    /* background-image: linear-gradient(45deg, #84b5e5, #490787); */

.scaner {
    width: 400px;
    height: 400px;
    background-image: conic-gradient(to right red, blue);
    margin: 150px;
    border-radius: 50%;
    transition: 5s linear;

}

.scaner:hover {
    transform: rotate(720deg);
}

.flag {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        dodgerblue 0 33%,
        red 33% 34%,
        #fff 34% 67%,     red 67% 68%,
    #0d9d0d 68% 100% ,)

}

 .box{
    width: 100%;
    height: 50vh;
    font-size: 15vw;
    background-image: url(./2024-01-22_16-57-37.png);
    background-position: center;
    text-align: center;
    background-clip: text;
    color: transparent;
 }

 h2 {
    font-size: 15vw;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 0px 50px red;
 } 

 .shadow {
    width: 500px;
    height: 500px;
    border: 1px solid red;
    margin: 200px;
    padding: 50px;
    font-size: 20px;
    color: red;
    box-shadow: inset 0px 0px 50px 10px red;

 }